.background {
    background-image: url("abstract-technology-geometric-pattern-vector.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
}